@font-face {
    font-family: "Krungthep";
    src: url("../fonts/Krungthep.ttf") fromat("truetype"); 
}

/* General */

body,
header,
footer {
    font-family: "Eurostile", sans-serif;
    color: #FFF;
}

h1,
h2 {
    font-family: "Krungthep";
    color: #FFF;
}

h1 {
    font-size: 46px;
}

html {
    background: url(../images/img_laser_light_background.jpg) no-repeat center center fixed;    
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about.html,
html {
    background-image: url(../images/img_galaxy_background.jpg) no-repeat center center fixed;
}

.navbar {
    display: flex;
}

.cta {
    background-image: linear-gradient(#231E47, #3F2252, #812046);
    color: #FFF;
    font-family: "Krungthep";
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #F469F4;
    border-radius: 46px;
}

/* Navigation */

header {
    display: flex;
    background-color: #352253DB 0% 0% 0.2 no-repeat padding-box;
}

nav {
    position: absolute;
    background: #352253DB;
    color: #FFF;
}

nav li {
    display: block;
    padding: 10px;
}

nav ul {
    padding: 0px;
}

nav a {
    color: #FFF;
    text-decoration: none;
    align-items: stretch;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}


@media (min-width: 600px) {
    nav {
        display: flex;
        position: static;
        background: none;
    }

    .hamburger_icon {
        display: none;
    }

    nav li {
        display: inline-block;
    }

    .logo img {
        max-width: 190px;
    }

    #menu-checkbox {
    display: none;
    color: #FFF;
    }
}

/* Mobile */

@media (max-width: 599px) {
    .logo img {
        display: none;
    }

    nav {
        top: 33px;
        left: 0px;
    }

    nav,
    .navbar,
    #menu-checkbox {
        display: none;
        color: #FFF;
    } 

    #menu-checkbox:checked ~ nav {
    display: block;
    }

    nav a {
        font-size: 1rem;
    }
}

/* Footer */

footer {
    position: relative;
    top: 190px;
    padding: 2px;
    background-color: #000;
    text-align: center;
}

/* Home Page */

.first {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.first_content {
    height: 300px;
    width: 300x;
}

.welcome {
    background-image: url("../images/img_galaxy_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
    top: 240px;
}

.welcome_content {
    position: relative;
    top: 200px;
    text-align: center;
    margin: 50px;
}

.welcome_content .cta {
    position: relative;
    top: 50px;
}

